<div class="page-header">
  <h1>Sign in</h1>
</div>

{{#if invalidCredentials}}
  <div class="alert alert-warning">Wrong email or password</div>
{{/if}}

<div class="row">
  <div class="col-md-6">
    {{#formFor model action="signIn"}}
      {{input email}}
      {{input password}}
      {{#input rememberMe}}
        <div class="col-md-offset-2 col-md-10">
          <div class="checkbox">
            <label>
              {{inputField rememberMe as="checkbox"}} Remember me
            </label>
          </div>
        </div>
      {{/input}}

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    {{/formFor}}
  </div>
</div>

