<h2>Login</h2>

{{#if invalidCredentials}}
  <div class="alert alert-warning">Wrong email or password</div>
{{/if}}

<form {{action "signIn" on="submit"}}>
  <fieldset>
    <div>
      <label>Email</label>
      {{input type="text" value=email placeholder="Email Address"}}
    </div>

    <div>
      <label>Password</label>
      {{input type="password" value=password placeholder="Password"}}
    </div>

    <button type="submit">Submit</button>
  </fieldset>
</form>

