<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "authenticated.index" class="navbar-brand"}}Breakpoint App{{/link-to}}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#nav-link}}
          {{#link-to "users"}}Users{{/link-to}}
        {{/nav-link}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
          {{#nav-link}}
            <a href="#" {{action "signOut"}}>Sign out</a>
          {{/nav-link}}
        {{else}}
          {{#nav-link}}
            {{#link-to "users.new"}}Sign up{{/link-to}}
          {{/nav-link}}
          {{#nav-link}}
            {{#link-to "sign_in"}}Sign in{{/link-to}}
          {{/nav-link}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

