<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#linkTo 'index' class="navbar-brand"}}Breakpoint App{{/linkTo}}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#nav-link}}
          {{#linkTo "users"}}Users{{/linkTo}}
        {{/nav-link}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
          {{#nav-link}}
            {{#linkTo "session.destroy"}}Sign out{{/linkTo}}
          {{/nav-link}}
        {{else}}
          {{#nav-link}}
            {{#linkTo "users.new"}}Sign up{{/linkTo}}
          {{/nav-link}}
          {{#nav-link}}
            {{#linkTo "session.new"}}Sign in{{/linkTo}}
          {{/nav-link}}
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

