<h1>Users</h1>

{{#linkTo "users.new"}}Create{{/linkTo}}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td>{{#linkTo "users.show" this}}{{fullName}}{{/linkTo}}</td>
        <td>{{email}}</td>
        <td>{{phoneNumber}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}

